@page "/post/create"
@attribute [Authorize]
@inject IImagePostRepository postRepository
@inject NavigationManager navMan

<div class="container bg-dark rounded p-4 border-top border-bottom border-primary mb-lg-5">
    <h3>Create a new post</h3>
    <PostSubmissionForm/>
    
</div>



@code {

}