@inherits LayoutComponentBase
@using A2Test2.Helpers
@using A2Test2.Shared
@inject IAudioPlayerService audioManager
@inject IJSRuntime JS

<div class="page" @onclick="@(e => audioManager.ShouldPlayInterop(e, JS))"> <!--Need to use this div to get everything-->
		<div class="sidebar">
			<NavMenu />
		</div>

		<main>
			<div class="top-row px-4">
				<TopBar></TopBar>
			</div>

			<article class="content px-4">
					@Body <!--get full body size somehow-->
			</article>

		</main>
	</div>

@code {
}