@using A2Test2.Helpers
@inject IAudioPlayerService audioManager

<h3></h3>

@code {
    string[] sfxNames = { "tick1.ogg", "notify3.ogg", "wet1.ogg" };

    protected override async Task OnAfterRenderAsync(bool firsRender)
    {
        foreach (string name in sfxNames)
        {
            if (audioManager.PlayerExists(name).Result)
            {
                await audioManager.RemovePlayer(name);
                await audioManager.AddPlayer(name, 0.5, 1);
            }
            else
            {
                await audioManager.AddPlayer(name, 0.5, 1);
            }
        }
    }
}
