@inject IUserRepository userRepository

@if (TextOnly)
{
    <span style="@style">@Username</span>
}
else
{
    <span><a style="@style" href="/profile/view/@UserId">@Username</a></span>
}

@code {
    [Parameter] public string UserId { get; set; }
    [Parameter] public bool TextOnly { get; set; }

    private string Username = "";
    private string style = "";

    protected async override Task OnInitializedAsync()
    {
        var result = await userRepository.GetUsernameById(UserId);
        Username = result.Username;
        style = result.Style;
    }
}
